<h1 class='shopping-title'>Shopping list</h1>
<div class='shopping-totals'> 
  <p class='shopping-values'>Amount of food Items to buy: 3</p>
  <p class='shopping-values'>Total value of food needed: $334</p>
</div>
<div class='shopping-table'>
<table>
 <tr>
 <th>Food</th>
 <th>Qunatity</th>
 <th>Price</th>
 </tr>
 <tr>
 <td>Alfreds Futterkiste</td>
 <td>Maria Anders</td>
 <td>Germany</td>
 </tr>
 <tr>
 <td>Alfreds Futterkiste</td>
 <td>Maria Anders</td>
 <td>Germany</td>
 </tr>
</table>
</div>