<div class='recipe-container'>
<section class='recipe-info'>
   <h3 class='recipe-1'>Recipe 1</h3>
   <a  href ='#'class='recipe-btn'>Remove</a>
</section>   
   <p class='recipe-description'>Lorem ipsum dorem Lorem ipsum dorem Lorem ipsum dorem Lorem ipsum dorem</p>
</div>

<div class='recipe-container'>
<section class='recipe-info'>
   <h3 class='recipe-1'>Recipe 1</h3>
   <a  href ='#'class='recipe-btn'>Remove</a>
</section>   
   <p class='recipe-description'>Lorem ipsum dorem Lorem ipsum dorem Lorem ipsum dorem Lorem ipsum dorem</p>
</div>