<div class='shopping-list'>
 <h1 class='public-recipes-title'>Public Recipes</h1>
<div class='recipe-container'>
<section class='recipe-info'>
   <h3 class='recipe-1'>Simple Dish</h3>
   <p class='recipe-btn'>By: Mayito</p>
</section> 
<section class='public-total'>   
   <p class='recipe-description'>Total food Items: 5</p>
   <p class='recipe-description'>Total price: $5</p>
</section> 
</div>

<div class='recipe-container'>
<section class='recipe-info'>
   <h3 class='recipe-1'>Too much</h3>
   <p  class='recipe-btn'>By: Ismail</p>
</section> 
<section class='public-total'> 
<p class='recipe-description'>Total food Items: 5</p>
<p class='recipe-description'>Total price: $5</p>
</section> 
</div>
</div>