<div class='btn-container'>
<button class='add-btn'>Add food</button> 
</div>
<table>
 <tr>
 <th>Food</th>
 <th>Measurement Unit</th>
 <th>Unit price</th>
 <th>Actions</th>
 </tr>
 <tr>
 <td>Alfreds Futterkiste</td>
 <td>Maria Anders</td>
 <td>Germany</td>
 <td><button>Delete</button></td>
 </tr>
 <tr>
 <td>Alfreds Futterkiste</td>
 <td>Maria Anders</td>
 <td>Germany</td>
 <td><button>Delete</button></td>
 </tr>

</table>